<!DOCTYPE html>
<html>
<head>
    <title>New User</title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
</head>
<body>
<h1 class="title">New User</h1>
<form action="/users/new" method="post">
    <div>
        <label for="new-user-name">name:</label>
        <input type="text" id="new-user-name" name="name">
    </div>
    <div>
        <input type="submit">
    </div>
</form>
</body>
</html>
